<div class="orbitReport">
    <h3>Orbit Report</h3>
<table>
   <tr class="header-row">
      <th (click)="sort('name')" class="sortable">Name</th>
      <th (click)="sort('type')" class="sortable">Type</th>
      <th>Operational</th>
      <th>Orbit Type</th>
      <th>Launch Date</th>
   </tr>
   <!-- TODO: put <tr *ngFor=""></tr> here -->
   <tr *ngFor="let satellite of satellites">
       <td [class.warning]="satellite.shouldShowWarning()">{{satellite.name}}</td>
       <td [class.warning]="satellite.shouldShowWarning()">{{satellite.orbitType}}</td>
       <td [class.warning]="satellite.shouldShowWarning()">{{satellite.type}}</td>
       <td [class.warning]="satellite.shouldShowWarning()">{{satellite.operational}}</td>
       <td [class.warning]="satellite.shouldShowWarning()">{{satellite.launchDate}}</td>
    </tr>
</table>
</div>
